{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}{{ groceryitem }}{% endblock title %}</h2>
{% endblock header %}

{% block content %}
    <form action="{% url 'grocery_items:update' groceryitem.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <label for="name">Name</label><br>
            <input type="text" name="name" id="name" value="{{ object.name }}">
        </fieldset>
        <input type="submit" value="Update">
    </form>
{% endblock content %}