<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}

  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <script type="text/javascript" src="{% static 'jquery-3.7.1.js' %}"></script>

  <title>Baxters Stuff - {% block title %}{% endblock title %}</title>
</head>
<body>
  <main>
    {% include "_navigation.html" %}
    <div class="container">
      <header>
        {% block header %}{% endblock header %}
      </header>
      {% bootstrap_messages %}
      <main>
        {% block content %}Try another page.{% endblock content %}
      </main>
  </div>
  </main>
</body>
</html>
